# Environment variables for webscraping-airflow

# Database connection
DATABASE_URL=

# Embedding pipeline settings
EMBEDDING_BATCH_SIZE=
EMBEDD_BATCH_LIMIT=

# Airflow DAG schedule
EMBEDDING_DAG_INTERVAL=
